.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-icon{
    vertical-align: middle;
    font-size: 16px !important;
    
}